<div ibmGrid class="bx--grid--full-width landing-page">
	<div ibmRow class="landing-page__banner">
		<div ibmCol [columnNumbers]="{'lg': 16}">
			<h1 class="landing-page__heading">
				Cooperativa de Empleados IBM Perú
			</h1>
		</div>
	</div>
	<div ibmRow class="landing-page__r2">
		<div ibmCol class="bx--no-gutter">
			<ibm-tabs ariaLabel="Tab navigation">
				<ibm-tab heading="Bienvenidos">
					<div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
						<div ibmRow class="landing-page__tab-content">
							<div ibmCol [columnNumbers]="{'md': 4, 'lg': 7}">
								<h2 class="landing-page__subheading">
									¡ Bienvenidos a la Cooperativa de Ahorro Y Créditos de los empleados de IBM  !
								</h2>
								<p class="landing-page__p">
									Nuestra Cooperativa fue fundada el 18 de julio de 1942
									con el fin de captar recursos de sus socios para formar un fondo de uso común,
									realizar prestaciones y otras actividades a favor de sus asociados 
									sin perseguir fines de lucro y respetando los principios cooperativos. 
								</p>
							</div>
							<div ibmCol class="bx--offset-lg-1" [columnNumbers]="{'md': 4, 'lg': 8}">
								<img
								class="landing-page__illo"
								src="../../../assets/foto-3.jpg"
								alt="money"
								/>
							</div>

						</div>
					</div>
				</ibm-tab>
	
			</ibm-tabs>
		</div>
	</div>

</div>