<ng-template #activeItemTemplate let-data="data">
	<i><a ibmLink [routerLink]="" (click)="openCertificadosDetalle(data.tipo, data.cuenta)">{{data.name}}</a></i>
</ng-template>

<ng-template #inactiveItemTemplate let-data="data">
	<i><a ibmLink [disabled]="true" [routerLink]="">{{data.name}}</a></i>
</ng-template>
  
<div ibmGrid class="bx--grid--full-width coope">
	<div ibmRow class="coope__banner">
		<div ibmCol [columnNumbers]="{'lg': 12, 'md' : 5}">
			<h1 class="coope__heading">
                {{ibmidservice.NombreEmpleado}}
            </h1>
            <h2 class="coope__subheading">
  <!--              {{ibmidservice.DireccionEmpleado}}   -->
			</h2>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 4, 'md' : 3}">
			<h1 class="coope__subheading2">
                {{ibmidservice.EmailEmpleado}}
            </h1>
            <h2 class="coope__subheading2">
                {{ibmidservice.CodEmpleado}}
			</h2>
		</div>

	</div>
	<div ibmRow class="coope__r2">
		<div ibmCol class="bx--no-gutter">
  
            <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
	
				<ibm-table-container>
					<ibm-table-header>
						<h4 ibmTableHeaderTitle>Depósitos a plazo</h4>
						<p ibmTableHeaderDescription>Cuentas del socio</p>
					</ibm-table-header>
					<ibm-table
						[skeleton]="skeletoncertificados"
						[model]="skeletoncertificados ? skeletonCertificadosModel : modelCertificados"
						[showSelectionColumn]="false"
						[sortable]="false"
						[striped]="false">
					</ibm-table>
				</ibm-table-container>

			</div>

		</div>
	</div>

</div>

